
apps/xcode/UserData/IB Support/Simulator Devices
apps/xcode/UserData/*.xcuserstate
apps/xcode/UserData/Debugger/
apps/xcode/UserData/SearchScopes.xcsclist
apps/xcode/UserData/IDENamedTabStateContexts.plist
apps/xcode/UserData/IDEFindNavigatorScopes.plist
apps/xcode/UserData/IDEEditorInteractivityHistory
apps/xcode/UserData/FontAndColorThemes/
apps/xcode/UserData/Previews/

.DS_Store