<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UDID</key>
	<string>43A95E2B-D1CF-41C6-A4E6-0E834D78F33B</string>
	<key>deviceType</key>
	<string>com.apple.CoreSimulator.SimDeviceType.Apple-Watch-Series-4-40mm</string>
	<key>isDeleted</key>
	<false/>
	<key>isEphemeral</key>
	<false/>
	<key>name</key>
	<string>Apple Watch Series 4 - 40mm</string>
	<key>runtime</key>
	<string>com.apple.CoreSimulator.SimRuntime.watchOS-6-2</string>
	<key>runtimePolicy</key>
	<string>Latest</string>
	<key>state</key>
	<integer>1</integer>
</dict>
</plist>
