<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UDID</key>
	<string>42E101CA-80BA-4535-A89B-35CC20D4E9B3</string>
	<key>deviceType</key>
	<string>com.apple.CoreSimulator.SimDeviceType.Apple-TV-4K-1080p</string>
	<key>isDeleted</key>
	<false/>
	<key>isEphemeral</key>
	<false/>
	<key>name</key>
	<string>Apple TV 4K (at 1080p)</string>
	<key>runtime</key>
	<string>com.apple.CoreSimulator.SimRuntime.tvOS-13-4</string>
	<key>runtimePolicy</key>
	<string>Latest</string>
	<key>state</key>
	<integer>1</integer>
</dict>
</plist>
