<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultDevices</key>
	<dict>
		<key>com.apple.CoreSimulator.SimRuntime.iOS-12-2</key>
		<dict>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad--5th-generation-</key>
			<string>1B364924-C54C-496C-B754-34018B1888A2</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad--6th-generation-</key>
			<string>E7605FE8-C9FE-4A87-9334-79291057D786</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Air</key>
			<string>6FAA50DF-4243-4C43-B954-FA432982B090</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Air--3rd-generation-</key>
			<string>26598387-2F71-42F3-9F03-DB4126C23634</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Air-2</key>
			<string>7AE48B3D-1FB5-41EE-8B8F-987FEA3DC38C</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro</key>
			<string>49A9ED5F-5CCE-491F-AD6B-93CA45F3437B</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro--10-5-inch-</key>
			<string>0B43B23D-2B58-414C-8DB2-4AE6B0F16197</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro--11-inch-</key>
			<string>575A95A6-6180-4C70-A757-48F5BBE0A0BA</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro--12-9-inch---2nd-generation-</key>
			<string>C6EAF002-F18C-4C0D-8EB5-B90F3C6B10C3</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro--12-9-inch---3rd-generation-</key>
			<string>7F2E0E91-91C0-4EDA-8BA9-3202524B08B7</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro--9-7-inch-</key>
			<string>0AEB414C-A6B2-4A3D-A200-F7E93381A5AE</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro-11-inch</key>
			<string>C3F7CCA8-7F42-4D58-9A60-A43A4A19AA95</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-5s</key>
			<string>1CF99891-2B6E-4656-8544-D3902296EE6A</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-6</key>
			<string>A077AD86-5A1E-42B1-BCFE-FE234CF3B678</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-6-Plus</key>
			<string>798915B9-3CDB-4760-8AFC-1DF5D0C454CE</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-6s</key>
			<string>627ADECB-ACBC-40E4-A342-A5CD8283E456</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-6s-Plus</key>
			<string>BF9DAB42-42F3-43D8-9736-3371FBD37FA2</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-7</key>
			<string>053A31EB-DC3F-46CE-BC6E-28D55B359DC0</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-7-Plus</key>
			<string>E117EA08-CA71-4467-922D-C3FB49731AA4</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-8</key>
			<string>176962E4-7299-4892-9D65-12721EB3ABC9</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-8-Plus</key>
			<string>0E052BB6-6913-4566-8E2F-D6D1A02937D1</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-SE</key>
			<string>D6FF1E74-48F0-4B3C-8DA2-F631B1227108</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-X</key>
			<string>18AA7994-31A8-4982-B84E-D210332A1492</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-XR</key>
			<string>851149EB-DE0A-4028-AB32-0F24B425BDFB</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-XS</key>
			<string>A74A000C-3981-4F6C-BE60-B3BF61A6DB0E</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-XS-Max</key>
			<string>5E76124C-5247-414D-AF78-EAB55A2048AD</string>
		</dict>
		<key>com.apple.CoreSimulator.SimRuntime.iOS-13-2</key>
		<dict>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad--7th-generation-</key>
			<string>840C7CA7-609B-4BCF-8B49-D51E94DC8349</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Air--3rd-generation-</key>
			<string>65C0B2A7-DD33-4CA0-9E28-0CABC111B7B4</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro--11-inch-</key>
			<string>545571CC-A838-4BDB-92F6-2E4E27B32376</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro--12-9-inch---3rd-generation-</key>
			<string>6D5D573C-25F9-4641-A529-F86DE563D2BA</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro--9-7-inch-</key>
			<string>593C6CBB-D054-45FF-9A39-5574F1D888A2</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro-11-inch</key>
			<string>371ED7C9-1DFE-49B7-888B-85EA2938BD67</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-11</key>
			<string>67C85054-EB04-4765-BF81-42FC000994F9</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-11-Pro</key>
			<string>D8195F6C-E74D-4230-AEEF-368CD9CBA4B9</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-11-Pro-Max</key>
			<string>E00803CF-14C8-475A-AD74-D08153FA23A7</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-8</key>
			<string>AA125FB0-D19D-46B4-8E33-B7237F6E0169</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-8-Plus</key>
			<string>79D5A752-5A38-4E5C-8B3F-E452EB901FDA</string>
		</dict>
		<key>com.apple.CoreSimulator.SimRuntime.iOS-13-3</key>
		<dict>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad--7th-generation-</key>
			<string>06F4AC21-8A2F-4DC4-A1C6-84E54D414A9E</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Air--3rd-generation-</key>
			<string>92808A1F-4D1A-40B4-8585-A716CF1F1F9F</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro--11-inch-</key>
			<string>BDD616B0-4C33-4140-9367-900CDFC5801A</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro--12-9-inch---3rd-generation-</key>
			<string>30228543-1B9C-4E1D-9E67-FA462A998F24</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro--9-7-inch-</key>
			<string>385D7FBD-36BA-433C-9671-F4F75E7B223A</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-11</key>
			<string>92F2AA20-DF07-43F0-B091-3C724E61C5BE</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-11-Pro</key>
			<string>1B184D82-CEF7-4F14-BD61-BDFB21B37539</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-11-Pro-Max</key>
			<string>212B786F-04FB-48DD-A449-C673C3A03010</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-8</key>
			<string>6B996D30-B8EE-4986-8078-D5A8C9ED9298</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-8-Plus</key>
			<string>AFA16445-9C84-4047-9F79-300AE66839A0</string>
		</dict>
		<key>com.apple.CoreSimulator.SimRuntime.iOS-13-4</key>
		<dict>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad--7th-generation-</key>
			<string>CCCC8A87-4646-4334-A586-8EB02F44C04D</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Air--3rd-generation-</key>
			<string>CFF534F5-07E0-48D3-B8ED-BD9A074CD395</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro--11-inch-</key>
			<string>DDA3A6E8-2A56-4B99-9422-FC03D0A8DAFA</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro--11-inch---2nd-generation-</key>
			<string>8E1F8C02-E90E-40F5-8C0C-592C25DFE495</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro--12-9-inch---3rd-generation-</key>
			<string>FFEB7521-C735-4158-BFD4-2FB2E41298AD</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro--12-9-inch---4th-generation-</key>
			<string>E83206BE-59FB-4153-AA84-72AF646F852B</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro--9-7-inch-</key>
			<string>9B016FB9-63EF-4BDB-856E-8B0EC90800F7</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-11</key>
			<string>254534C9-B35B-441D-9781-FB2DE2F59011</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-11-Pro</key>
			<string>D1F66E1C-F7FC-416D-9B46-9784333DC197</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-11-Pro-Max</key>
			<string>A33FD428-C5AF-45AF-AB6C-2B2988700F16</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-8</key>
			<string>B2F72352-907D-4E66-B43E-BCBEFAD465F2</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-8-Plus</key>
			<string>5C67730F-9129-40AC-B3B9-2F76152039CD</string>
		</dict>
		<key>com.apple.CoreSimulator.SimRuntime.tvOS-13-3</key>
		<dict>
			<key>com.apple.CoreSimulator.SimDeviceType.Apple-TV-1080p</key>
			<string>CB350338-D82E-4EF6-AE10-0893FBB3C5E2</string>
			<key>com.apple.CoreSimulator.SimDeviceType.Apple-TV-4K-1080p</key>
			<string>BD54A2E7-3225-4F60-9C86-CFB6947AC393</string>
			<key>com.apple.CoreSimulator.SimDeviceType.Apple-TV-4K-4K</key>
			<string>044DDBC5-0DF7-4C9E-904A-5BF55DE9E954</string>
		</dict>
		<key>com.apple.CoreSimulator.SimRuntime.tvOS-13-4</key>
		<dict>
			<key>com.apple.CoreSimulator.SimDeviceType.Apple-TV-1080p</key>
			<string>3CA2027D-D6E9-460A-B060-A3E92061255A</string>
			<key>com.apple.CoreSimulator.SimDeviceType.Apple-TV-4K-1080p</key>
			<string>42E101CA-80BA-4535-A89B-35CC20D4E9B3</string>
			<key>com.apple.CoreSimulator.SimDeviceType.Apple-TV-4K-4K</key>
			<string>70F8D5DE-E2E9-4D38-AF06-9070FE064C61</string>
		</dict>
		<key>com.apple.CoreSimulator.SimRuntime.watchOS-6-1</key>
		<dict>
			<key>com.apple.CoreSimulator.SimDeviceType.Apple-Watch-Series-4-40mm</key>
			<string>01D5A977-6A33-4E2B-8CC1-461249FD679A</string>
			<key>com.apple.CoreSimulator.SimDeviceType.Apple-Watch-Series-4-44mm</key>
			<string>FBED7ED5-E019-4597-A98C-8AC396B7DB94</string>
			<key>com.apple.CoreSimulator.SimDeviceType.Apple-Watch-Series-5-40mm</key>
			<string>B389A0EE-BE05-451D-87D5-5A4B6172E125</string>
			<key>com.apple.CoreSimulator.SimDeviceType.Apple-Watch-Series-5-44mm</key>
			<string>39287869-9C44-49F9-B48D-0DC2C6D10FC3</string>
		</dict>
		<key>com.apple.CoreSimulator.SimRuntime.watchOS-6-2</key>
		<dict>
			<key>com.apple.CoreSimulator.SimDeviceType.Apple-Watch-Series-4-40mm</key>
			<string>43A95E2B-D1CF-41C6-A4E6-0E834D78F33B</string>
			<key>com.apple.CoreSimulator.SimDeviceType.Apple-Watch-Series-4-44mm</key>
			<string>F94CB033-1178-41A0-9698-69B9F9876E02</string>
			<key>com.apple.CoreSimulator.SimDeviceType.Apple-Watch-Series-5-40mm</key>
			<string>AF1401DC-FD55-4BCD-B637-57B72D46A3F9</string>
			<key>com.apple.CoreSimulator.SimDeviceType.Apple-Watch-Series-5-44mm</key>
			<string>8506685B-82C9-4141-B157-3C457B5D809B</string>
		</dict>
		<key>version</key>
		<integer>0</integer>
	</dict>
	<key>DevicePairs</key>
	<dict/>
	<key>Version</key>
	<integer>0</integer>
</dict>
</plist>
