<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UDID</key>
	<string>CCCC8A87-4646-4334-A586-8EB02F44C04D</string>
	<key>deviceType</key>
	<string>com.apple.CoreSimulator.SimDeviceType.iPad--7th-generation-</string>
	<key>isDeleted</key>
	<false/>
	<key>isEphemeral</key>
	<false/>
	<key>name</key>
	<string>iPad (7th generation)</string>
	<key>runtime</key>
	<string>com.apple.CoreSimulator.SimRuntime.iOS-13-4</string>
	<key>runtimePolicy</key>
	<string>Latest</string>
	<key>state</key>
	<integer>1</integer>
</dict>
</plist>
