<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UDID</key>
	<string>92808A1F-4D1A-40B4-8585-A716CF1F1F9F</string>
	<key>deviceType</key>
	<string>com.apple.CoreSimulator.SimDeviceType.iPad-Air--3rd-generation-</string>
	<key>isDeleted</key>
	<false/>
	<key>isEphemeral</key>
	<false/>
	<key>name</key>
	<string>iPad Air (3rd generation)</string>
	<key>runtime</key>
	<string>com.apple.CoreSimulator.SimRuntime.iOS-13-3</string>
	<key>runtimePolicy</key>
	<string>Latest</string>
	<key>state</key>
	<integer>1</integer>
</dict>
</plist>
